#contenido{
    width: 75%;
    margin: 0 auto;
    padding: 0 20px;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    box-shadow: 0px 10px 10px black;
}

#foto{
    display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.imagenred{
    width:300px;
    height:300px;
    border-radius:150px;
}
#datos{
    width: 60%;
    margin: 0 auto;
}
#th1{
    border: 2px solid black;
    width: 1000px;
    height: 90px;
    border-radius: 10px;
    text-align: left;

    
}

#footer {
    bottom: 0;
 }
 .list-group-item{
    height: 50px;
}


.navbar-custom{
    background-color: #77C5FB ;
}

.navbar-custom1{
    background-color: #6da2c9 ;
}





.footer-basic {
    padding:40px 0;
    background-color:#e6e3e3;
    color:#363636;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }


  