:root{
    --main-bg:#e91e63;
  }
  
  .main-bg {
    background-image: url("/adjuntos/fonndo.jpg") !important;
    background-size: cover;
    background-position: center;
    height: 650px;
    background-repeat: no-repeat;
  }
  
  input:focus, button:focus {
    border: 1px solid var(--main-bg) !important;
    box-shadow: none !important;
  }
  
  .form-check-input:checked {
    background-color: var(--main-bg) !important;
    border-color: var(--main-bg) !important;
  }
  
  .card, .btn, input{
    border-radius:0 !important;
  }

  .bg-dark-x {
    background-color: #d3d1d1d8 !important;
}
  